In [1275]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split

In [1276]:
df_original = pd.read_csv('../data/automobile-simple.csv')
df = df_original.copy()

df.head()

,make,fuel-type,num-of-doors,body-style,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
0,alfa-romero,gas,two,convertible,2548,130,111.0,21,27,13495.0,528019.904,33.297462
1,alfa-romero,gas,two,convertible,2548,130,111.0,21,27,16500.0,528019.904,33.297462
2,alfa-romero,gas,two,hatchback,2823,152,154.0,19,26,16500.0,587592.640,30.898272
3,audi,gas,four,sedan,2337,109,102.0,24,30,13950.0,634816.956,42.697819
4,audi,gas,four,sedan,2824,136,115.0,18,22,17450.0,636734.832,27.997459

In [1277]:
df.describe(include='all')

,make,fuel-type,num-of-doors,body-style,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
count,205,205,203,205,205.000000,205.000000,203.000000,205.000000,205.000000,201.000000,205.000000,205.000000
unique,22,2,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,toyota,gas,four,sedan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,32,185,114,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2555.565854,126.907317,104.256158,25.219512,30.751220,13207.129353,618719.288873,42.235315
std,NaN,NaN,NaN,NaN,520.680204,41.642693,39.714369,6.542142,6.886443,7947.066342,79463.195262,12.299628
min,NaN,NaN,NaN,NaN,1488.000000,61.000000,48.000000,13.000000,16.000000,5118.000000,452643.156000,15.501957
25%,NaN,NaN,NaN,NaN,2145.000000,97.000000,70.000000,19.000000,25.000000,7775.000000,566490.600000,31.972844
50%,NaN,NaN,NaN,NaN,2414.000000,120.000000,95.000000,24.000000,30.000000,10295.000000,601385.700000,40.619311
75%,NaN,NaN,NaN,NaN,2935.000000,141.000000,116.000000,30.000000,34.000000,16500.000000,666250.200000,50.771660
max,NaN,NaN,NaN,NaN,4066.000000,326.000000,288.000000,49.000000,54.000000,45400.000000,846007.659000,83.088774

In [1278]:
df.isnull().sum()

make            0
fuel-type       0
num-of-doors    2
body-style      0
curb-weight     0
engine-size     0
horsepower      2
city-mpg        0
highway-mpg     0
price           4
volume          0
eco-rating      0
dtype: int64

### Eliminamos los registros faltantes que presentan nulls ya que son muy pocos (8/205)

In [1279]:
df = df.dropna()
df.isnull().sum()

make            0
fuel-type       0
num-of-doors    0
body-style      0
curb-weight     0
engine-size     0
horsepower      0
city-mpg        0
highway-mpg     0
price           0
volume          0
eco-rating      0
dtype: int64

In [1280]:
df.describe(include='all')

,make,fuel-type,num-of-doors,body-style,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
count,197,197,197,197,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
unique,21,2,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,toyota,gas,four,sedan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,32,178,112,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2558.456853,126.994924,103.604061,25.152284,30.629442,13279.644670,619851.107665,42.094943
std,NaN,NaN,NaN,NaN,521.782047,41.913114,37.639205,6.437863,6.836259,8010.334218,79841.659971,12.183681
min,NaN,NaN,NaN,NaN,1488.000000,61.000000,48.000000,13.000000,16.000000,5118.000000,452643.156000,15.501957
25%,NaN,NaN,NaN,NaN,2145.000000,97.000000,70.000000,19.000000,25.000000,7775.000000,566490.600000,31.972844
50%,NaN,NaN,NaN,NaN,2414.000000,119.000000,95.000000,24.000000,30.000000,10345.000000,601385.700000,40.531575
75%,NaN,NaN,NaN,NaN,2935.000000,145.000000,116.000000,30.000000,34.000000,16503.000000,674493.768000,50.362813
max,NaN,NaN,NaN,NaN,4066.000000,326.000000,262.000000,49.000000,54.000000,45400.000000,846007.659000,83.088774

In [1281]:
numeric_columns = df.select_dtypes(include=[np.number]).columns.tolist()
print("Columnas numéricas:", numeric_columns)

Columnas numéricas: ['curb-weight', 'engine-size', 'horsepower', 'city-mpg', 'highway-mpg', 'price', 'volume', 'eco-rating']

In [1282]:
correlation_matrix = df[numeric_columns].corr()
print("\nMatriz de correlación:")
correlation_matrix

Matriz de correlación:

,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
curb-weight,1.000000,0.848932,0.759925,-0.755559,-0.800113,0.834732,0.822823,-0.842957
engine-size,0.848932,1.000000,0.825286,-0.655737,-0.684662,0.873708,0.592571,-0.723965
horsepower,0.759925,0.825286,1.000000,-0.821960,-0.803658,0.811953,0.449278,-0.839619
city-mpg,-0.755559,-0.655737,-0.821960,1.000000,0.972407,-0.692948,-0.554978,0.976650
highway-mpg,-0.800113,-0.684662,-0.803658,0.972407,1.000000,-0.708659,-0.608072,0.984258
price,0.834732,0.873708,0.811953,-0.692948,-0.708659,1.000000,0.631578,-0.747982
volume,0.822823,0.592571,0.449278,-0.554978,-0.608072,0.631578,1.000000,-0.598520
eco-rating,-0.842957,-0.723965,-0.839619,0.976650,0.984258,-0.747982,-0.598520,1.000000

### Estandarizamos las columnas numericas

In [1283]:
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df.head()

,make,fuel-type,num-of-doors,body-style,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating
0,alfa-romero,gas,two,convertible,-0.020092,0.071880,0.196996,-0.646622,-0.532263,0.026953,-1.153097,-0.723911
1,alfa-romero,gas,two,convertible,-0.020092,0.071880,0.196996,-0.646622,-0.532263,0.403049,-1.153097,-0.723911
2,alfa-romero,gas,two,hatchback,0.508291,0.598113,1.342333,-0.958076,-0.678915,0.403049,-0.405060,-0.921331
3,audi,gas,four,sedan,-0.425505,-0.430433,-0.042725,-0.179442,-0.092309,0.083900,0.187922,0.049608
4,audi,gas,four,sedan,0.510212,0.215398,0.303539,-1.113802,-1.265521,0.521948,0.212004,-1.160027

### Tratamos con columnas cualitativas. Usamos OneHotEncoding

In [1284]:

#One hot encoding para columnas cualitativas nominales
columns_ohe = ['make', 'fuel-type', 'body-style']
ohe = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')
df_ohe = ohe.fit_transform(df[columns_ohe])
df_ohe = pd.DataFrame(df_ohe, columns=ohe.get_feature_names_out(columns_ohe), index=df.index)
df = pd.concat([df.drop(columns_ohe, axis=1), df_ohe], axis=1)
df.describe(include='all')

,num-of-doors,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating,make_audi,...,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo,fuel-type_gas,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon
count,197,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,four,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,-1.803408e-17,1.082045e-16,6.988206e-17,-3.381390e-17,-1.983749e-16,-9.918744e-17,-1.983749e-16,-2.119004e-16,0.030457,...,0.030457,0.060914,0.162437,0.060914,0.055838,0.903553,0.040609,0.340102,0.467005,0.121827
std,NaN,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,0.172279,...,0.172279,0.239781,0.369791,0.239781,0.230193,0.295955,0.197886,0.474950,0.500181,0.327920
min,NaN,-2.056767e+00,-1.578577e+00,-1.481055e+00,-1.892436e+00,-2.145430e+00,-1.021485e+00,-2.099580e+00,-2.188234e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,-7.944126e-01,-7.174686e-01,-8.950688e-01,-9.580755e-01,-8.255662e-01,-6.889437e-01,-6.700319e-01,-8.329082e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,-2.775582e-01,-1.912359e-01,-2.291755e-01,-1.794415e-01,-9.230857e-02,-3.672907e-01,-2.318646e-01,-1.286435e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,7.234869e-01,4.306754e-01,3.301749e-01,7.549192e-01,4.942975e-01,4.034248e-01,6.861315e-01,6.803309e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,NaN,2.896581e+00,4.760135e+00,4.218992e+00,3.713728e+00,3.427328e+00,4.020081e+00,2.839780e+00,3.373223e+00,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [1285]:
# Ordinal encoding para columnas cualitativas ordinales
door_mappings = {'two': 2, 'four': 4}
df['num-of-doors'] = df['num-of-doors'].map(door_mappings)
df.describe(include='all')

,num-of-doors,curb-weight,engine-size,horsepower,city-mpg,highway-mpg,price,volume,eco-rating,make_audi,...,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo,fuel-type_gas,body-style_hardtop,body-style_hatchback,body-style_sedan,body-style_wagon
count,197.000000,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,1.970000e+02,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,3.137056,-1.803408e-17,1.082045e-16,6.988206e-17,-3.381390e-17,-1.983749e-16,-9.918744e-17,-1.983749e-16,-2.119004e-16,0.030457,...,0.030457,0.060914,0.162437,0.060914,0.055838,0.903553,0.040609,0.340102,0.467005,0.121827
std,0.993087,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,1.002548e+00,0.172279,...,0.172279,0.239781,0.369791,0.239781,0.230193,0.295955,0.197886,0.474950,0.500181,0.327920
min,2.000000,-2.056767e+00,-1.578577e+00,-1.481055e+00,-1.892436e+00,-2.145430e+00,-1.021485e+00,-2.099580e+00,-2.188234e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,-7.944126e-01,-7.174686e-01,-8.950688e-01,-9.580755e-01,-8.255662e-01,-6.889437e-01,-6.700319e-01,-8.329082e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,-2.775582e-01,-1.912359e-01,-2.291755e-01,-1.794415e-01,-9.230857e-02,-3.672907e-01,-2.318646e-01,-1.286435e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,7.234869e-01,4.306754e-01,3.301749e-01,7.549192e-01,4.942975e-01,4.034248e-01,6.861315e-01,6.803309e-01,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,4.000000,2.896581e+00,4.760135e+00,4.218992e+00,3.713728e+00,3.427328e+00,4.020081e+00,2.839780e+00,3.373223e+00,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [1286]:
x = df.drop(columns=['eco-rating'])

y = df['eco-rating']
y = (df['eco-rating'] > df['eco-rating'].mean()).astype(int)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [1287]:
from perceptron import Perceptron 
ml = Perceptron(lr=0.01, max_iter=10000)
ml.fit(x_train, y_train)
print(ml.score(x_test, y_test))

0.975

In [1288]:
weights_df = pd.DataFrame({
    'feature': x_train.columns,
    'weight': ml.w_,
    'abs_weight': np.abs(ml.w_)
})
weights_df.sort_values(by='abs_weight', ascending=False, inplace=True)
weights_df

                 feature    weight  abs_weight
5            highway-mpg  0.142023    0.142023
1            curb-weight -0.106471    0.106471
4               city-mpg  0.084471    0.084471
3             horsepower -0.072679    0.072679
8              make_audi  0.063187    0.063187
20           make_peugot -0.057972    0.057972
30  body-style_hatchback -0.044518    0.044518
32      body-style_wagon  0.039836    0.039836
6                  price -0.035845    0.035845
13            make_isuzu -0.035009    0.035009
29    body-style_hardtop -0.034893    0.034893
7                 volume  0.031298    0.031298
11            make_dodge -0.018047    0.018047
31      body-style_sedan -0.017516    0.017516
12            make_honda  0.016546    0.016546
23             make_saab -0.016103    0.016103
21         make_plymouth  0.015872    0.015872
26       make_volkswagen -0.013490    0.013490
17          make_mercury  0.011742    0.011742
2            engine-size -0.011063    0.011063
15            make_mazda  0.010413    0.010413
10        make_chevrolet  0.010028    0.010028
14           make_jaguar  0.009552    0.009552
16    make_mercedes-benz -0.009411    0.009411
22          make_porsche -0.008621    0.008621
24           make_subaru -0.007589    0.007589
27            make_volvo -0.007432    0.007432
9               make_bmw -0.005710    0.005710
28         fuel-type_gas  0.005603    0.005603
18       make_mitsubishi  0.005155    0.005155
0           num-of-doors -0.002639    0.002639
19           make_nissan  0.001054    0.001054
25           make_toyota -0.000580    0.000580

### Probamos borrar dos columnas fuertemente correlacionadas

In [1289]:
x = x.drop(columns=['highway-mpg', 'curb-weight', 'horsepower', 'city-mpg', 'price'])
y = y

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

ml = Perceptron(lr=0.1, max_iter=1000)
ml.fit(x_train, y_train)
print(ml.score(x_test, y_test))

weights_df = pd.DataFrame({
    'feature': x_train.columns,
    'weight': ml.w_,
    'abs_weight': np.abs(ml.w_)
})
weights_df.sort_values(by='abs_weight', ascending=False, inplace=True)
weights_df

0.775

                 feature    weight  abs_weight
16         make_plymouth  3.303885    3.303885
15           make_peugot -2.906360    2.906360
22            make_volvo -2.900735    2.900735
8             make_isuzu -2.413927    2.413927
4               make_bmw -2.276730    2.276730
23         fuel-type_gas -2.196170    2.196170
11    make_mercedes-benz -1.975408    1.975408
18             make_saab -1.804273    1.804273
14           make_nissan  1.699666    1.699666
7             make_honda  1.693233    1.693233
5         make_chevrolet  1.491007    1.491007
20           make_toyota  1.295328    1.295328
25  body-style_hatchback  1.200014    1.200014
1            engine-size -1.133031    1.133031
6             make_dodge  0.999450    0.999450
21       make_volkswagen  0.899876    0.899876
26      body-style_sedan  0.898800    0.898800
0           num-of-doors  0.793373    0.793373
13       make_mitsubishi  0.578824    0.578824
19           make_subaru  0.493662    0.493662
10            make_mazda  0.380347    0.380347
2                 volume -0.333153    0.333153
27      body-style_wagon  0.114496    0.114496
3              make_audi  0.106887    0.106887
24    body-style_hardtop -0.083390    0.083390
17          make_porsche -0.011729    0.011729
9            make_jaguar -0.010480    0.010480
12          make_mercury -0.002337    0.002337